packages:
  yum:
    python-devel: []
    numpy: []
container_commands:
  00Movenumpy:
    command: "cp -r /usr/lib64/python2.6/site-packages/numpy /usr/lib64/python2.7/site-packages"
  00_remove_global:
    command: "rm -f /opt/python/run/baselinenv/lib/python2.7/no-global-site-packages.txt"
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: hemcis/wsgi.py
